<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="<%= url("/css/style.css")%>" rel="stylesheet" type="text/css" />
  <script src="<%= url("/js/main.js")%>" type="text/javascript" > </script>
</head>
  <body>
    <h1 class="text"> Eklektike</h1>

      <a href="/jesuisunlien">Je suis un lien</a>

    <header>
      <nav>
        <ul class="menu">
          <li><a href="#">Accueil</a></li>
          <li><a href="#">Galerie</a></li>
          <li><a href="#">Bio</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>
    <section class="cadre_container"><!-- Début cadre photo -->
        <article class="cadre"><!-- début photo -->
            <a href="#">
            <img src="photos/sensaion_geo.jpg" class="img"/></a>
              <div>
                  <h4>Julie </h4>
                  <span> Artiste peintre </span>
              </div>
          </a>
        </article><!-- fin photo -->
        <article class="cadre">
          <a href="#" >lien inexistant>
            <img class="img" src="photos/13161742_1017475141667104_7220528249094646039_o.jpg"/> </a>
              <div>
                <h4> Baka </h4>
                <span> Street artist </span>
              </div>
        </article>
        <article class="cadre">
          <a href="#"> lien inexistant
          <img class="img" src="photos/13131627_1017473681667250_7837354688378869198_o.jpg"/> </a>
            <div>
              <h4>Kimya</h4>
              <span>Peintre</span>
            </div>
        </article>
      </section><!-- Fin cadre photo -->

      <article class="cadre"><!-- début photo -->
        <a href="#"> lien inexistant
          <img src="photos/sensaion_geo.jpg" class="img"/></a>
            <div>
                <h4>Julie </h4>
                <span> Artiste peintre </span>
            </div>
        </a>
      </article><!-- fin photo -->
      <article class="cadre">
        <a href="#" >lien inexistant>
          <img href="page artiste" class="img" src="photos/13161742_1017475141667104_7220528249094646039_o.jpg"/> </a>
            <div>
              <h4> Baka </h4>
              <span> Street artist </span>
            </div>
      </article>
      <article class="cadre">
        <a href="#"> lien inexistant
        <img class="img" src="photos/13131627_1017473681667250_7837354688378869198_o.jpg"/> </a>
          <div>
            <h4>Kimya</h4>
            <span>Peintre</span>
          </div>
      </article>


  </body>
</html>
