<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url("/css/style.css")%>" media="all"/>
    <title>
    Je suis un lien vers google
  </title>
  </head>
    <body>
      <header>
        <a href="/" class="jesuisunlien">"Je suis un lien"</a>
      </header>
        <section>
          <header>
            <a href="index.html">
            <img class="taillephoto" src="photos/13131672_554627438051284_4750596009410943569_o.jpg"/>
            </a>
          </header>
        </section>
    </body>
</html>
